// 
// _header.scss
// 

#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}

.navbar-header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: $header-height;
    background-color: $header-bg;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow;
    margin: calc(#{$grid-gutter-width} /2) calc(#{$grid-gutter-width} /2) calc(#{$grid-gutter-width} /2) calc(#{$sidebar-width} + #{$grid-gutter-width /2});

    .dropdown.show {
        .header-item {
            background-color: rgba($dark, 0.03);
        }
    }
}

.navbar-brand-box {
    text-align: center;
}

.logo {
    line-height: 70px;
    color: $white !important;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;

    span {
        vertical-align: middle;
    }

    i {
        font-size: 22px;
    }

    img {
        height: 20px;
    }
}

.page-title-box {
    padding-bottom: $grid-gutter-width;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }
}

@media (max-width: 992px) {
    .navbar-brand-box {
        padding-left: 0;
    }

    .navbar-header {
        margin-left: 12px;
    }

    .logo {
        padding-right: 15px;

        span {
            display: none;
        }

        i {
            display: inline-block;
        }
    }
}

.page-content {
    padding: calc(#{$header-height + 12px} + #{$grid-gutter-width}) calc(#{$grid-gutter-width} / 2) $footer-height calc(#{$grid-gutter-width} / 2);
}

.header-item {
    height: $header-height;
    box-shadow: none !important;
    color: $header-item-color;
    padding: .5rem 0.8rem;
    border: 0;

    &:hover {
        color: $header-item-color;
    }
}

.header-profile-user {
    height: 36px;
    width: 36px;
    background-color: rgba($white, 0.5);
    padding: 3px;
}

.noti-icon {
    i {
        font-size: 24px;
        color: $header-item-color;
    }

    .badge {
        position: absolute;
        top: 12px;
    }
}

.notification-item {
    .media {
        padding: 0.75rem 1rem;

        &:hover {
            background-color: $gray-100;
        }
    }
}